<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>simple pixel</title>
  <script>
    window.__INITIAL_STATS__ = <%- JSON.stringify(stats) %>;
    window.__PIXEL_ID__ = "<%= pixelId %>";
    window.__NODE_ENV__ = "<%= nodeEnv %>";
  </script>
</head>

<body>
  <div id="app"></div>
  <script type="module" src="/src/main.ts"></script>
</body>

</html>